section {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        overflow: hidden;
}
section:nth-child(1) {
        background-image: url('teacher.png');
}
section:nth-child(2) {
        background-image: url('teacher.pn');
}
section:nth-child(3) {
        background-image: url('teacher.png');
}
section p {
        text-align: center;
        font-size: 80px;
        color: #000000;
        opacity: 0.8;
}
html {
        overflow: hidden;
        height: 100%;
}
body {
        overflow: auto;
        height: 100%;
}
